rules_version = '2';

// The following rules are not secure and are just for prototyping.
// Please lock down your rules before deploying to production.
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
